@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<link rel="stylesheet" href="~/css/main.css" asp-append-version="true">

<div class="title">
    <h1>@Model.Title</h1>
</div>

<div id="products" style="display:none">
    @Model.jsonprod
</div>


<div id="categories" style="display:none">
    @Model.jsoncat
</div>

<div id="login" style="display:none">
    @if (Request.Cookies["login"] != null)
    {
        @Request.Cookies["login"]
    }
</div>

<div id="page">
    <div id="filter">
        <form asp-page="/Index" method="post">
            <input id="categoryinput" type="text" name="category" value="" style="display:none;" />
            <ul id="categoryid">
            </ul>
            <button id="submitbtn" type="submit" style="display:none;"></button>
        </form>
    </div>
    <div id="content">
    </div>
</div>

<form asp-page="/Cart" method="post">
    <div id="pop-up">
        <div id="popup-content">
            <div id="first">
                <img id="image" />
            </div>
            <div id="combine">
                <div id="second">
                    <ion-icon id="closebtn" name="close-outline"></ion-icon>
                    <h2 id="name"></h2>
                    <h3 id="price"></h3>
                    <p id="info"></p>
                </div>
                <div id="third">
                    <input id="inputprod" type="text" name="productname" value="" style="display:none;" />
                    <input type="text" name="username" value="@Request.Cookies["login"]" style="display:none;" />
                    @if (Request.Cookies["login"] != null)
                    {
                        <input type="number" value="1" min=1 max=20 name="count" />
                        <button type="submit"><ion-icon id="cart" name="cart-outline"></ion-icon></button>
                    }
                </div>
            </div>
        </div>
    </div>
</form>

<script src="~/js/main.js" asp-append-version="true"></script>

<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

